# ignore the avatar in the quickshell config subfolder
quickshell/avatar.png
# ignore the lockscreen wallpaper since its symlinked anyways
quickshell/lockscreen/wallpaper
quickshell/lockscreen/wallpaper.png
# hyprland deserves some love too, don't leave the poor guy alone :(
